#top-text-left{
    color: #848484;
    font-weight: bold;
    font-size: 18px;
    display: none;
}

.top-text-right{
    color: #848484;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    display: none;
}

#welcome{
    margin-top: 40%;
    color: white;
    font-size: 60px;
    display: none;
}

#welcome-2{
    color: white;
    font-size: 30px;
    display: none;
}

#header{
    background-image: url("https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg");
    height: 150px;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    margin: 0;
    position: fixed;
    z-index: 1;
}

.blog{
    position: relative;
    top: 165px;
    text-align: center;
}

.writings{
    position: relative;
    top: 175px;
}

.left{
    width: 30%;
    text-align: left;
}

#life{
    margin-bottom: 10px;
}

a{
    color: inherit;
}

.column{
    z-index: 1000;
}

.writingstitle{
    display: inline;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 36px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}